data/festival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="idType">
        <!-- Vlastni omezeni: ID pattern s pismennym prefixem a ciselnym suffixem -->
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+[0-9]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dateType">
        <xs:restriction base="xs:date" />
    </xs:simpleType>

    <xs:simpleType name="timeType">
        <xs:restriction base="xs:string">
            <!-- Vlastni omezeni: format casu HH:MM (24h) -->
            <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="genreType">
        <!-- Vlastni omezeni: povolene hodnoty zanru (enumeration) -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Indie" />
            <xs:enumeration value="Elektronika" />
            <xs:enumeration value="Rock" />
            <xs:enumeration value="Jazz" />
            <xs:enumeration value="Hip-Hop" />
            <xs:enumeration value="World" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="eventTypeValue">
        <!-- Vlastni omezeni: povolene hodnoty typu eventu (enumeration) -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="concert" />
            <xs:enumeration value="talk" />
            <xs:enumeration value="workshop" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="festival">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string" />
                <xs:element name="tickets">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ticket" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="type" use="required" type="xs:string" />
                                    <xs:attribute name="price" use="required">
                                        <!-- Vlastni omezeni: rozsah ceny vstupenky -->
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:minInclusive value="100" />
                                                <xs:maxInclusive value="10000" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="currency" use="required" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="links">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="link" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="rel" use="required" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="venues">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="venue" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="address" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" type="idType" />
                                    <xs:attribute name="name" use="required" type="xs:string" />
                                    <xs:attribute name="city" use="required" type="xs:string" />
                                    <xs:attribute name="capacity" use="required">
                                        <!-- Vlastni omezeni: rozsah kapacity venue -->
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:minInclusive value="100" />
                                                <xs:maxInclusive value="100000" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="performers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="performer" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="bio" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" type="idType" />
                                    <xs:attribute name="name" use="required" type="xs:string" />
                                    <xs:attribute name="country" use="required" type="xs:string" />
                                    <xs:attribute name="genre" use="required" type="genreType" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="events">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="event" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="description" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" type="idType" />
                                    <xs:attribute name="title" use="required" type="xs:string" />
                                    <xs:attribute name="performerId" use="required" type="idType" />
                                    <xs:attribute name="venueId" use="required" type="idType" />
                                    <xs:attribute name="day" use="required" type="dateType" />
                                    <xs:attribute name="startTime" use="required" type="timeType" />
                                    <xs:attribute name="durationMin" use="required">
                                        <!-- Vlastni omezeni: rozsah delky eventu v minutach -->
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:minInclusive value="15" />
                                                <xs:maxInclusive value="240" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="type" use="required" type="eventTypeValue" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="idType" />
            <xs:attribute name="name" use="required" type="xs:string" />
            <xs:attribute name="edition" use="required" type="xs:int" />
            <xs:attribute name="city" use="required" type="xs:string" />
            <xs:attribute name="startDate" use="required" type="dateType" />
            <xs:attribute name="endDate" use="required" type="dateType" />
        </xs:complexType>
    </xs:element>
</xs:schema>